.about-me {
    background-color: white;
    color: $colorBlack;
    padding-bottom: 7rem;
    position: relative;

    h1 {
        margin-bottom: 4rem;
    }

    .story-container {

        //photographer photo
        .story-img {
            @include filter(grayscale(100%));
            display: none;
            opacity: .25;
            max-width: 300px;
            height: auto;
            position: absolute;
            transform: translateX(-15%);
            left: 15%;
            bottom: 0;

            @include mq-tablet {
                display: block;
            }
        }

        .cv-container {
            padding: 1rem 1rem 1rem 1rem;
            position: relative;
            float: right;

            @include mq-tablet {
                border-left:  1px dashed rgba(244, 156, 18,0.35);
                padding: 1rem 1rem 1rem 3rem;
            }
        }

        //Story pointer component - dynamically positioned by JS
        .story-pointer-row {
            border-bottom:  1px dashed rgba(244, 156, 18,0.35);
            margin-bottom: 2rem;
            position: relative;

            @include mq-tablet {
                border: none;
                margin: 0;
                position: static;
            }
        }

        .story-pointer {
            background-color: white;
            border: 1px solid #e0dede;
            border-radius: 50%;
            box-shadow: 0 1px 1px rgba(0,0,0,0.25);
            cursor: pointer;
            display: block;
            width: 22px;
            height: 22px;
            position: absolute;
            transition: all .5s ease-out;
        }

        .story-pointer:hover, .story-pointer.active {
            background-color: $colorMain;
        }

        //Story component in CV container resembling a unique story in the timeline
        .story {
            article {
                display: none;
            }

            .time-heading, .story-heading {
                margin: 0;
                padding: 0.5rem 0;
            }

            .time-heading {
                font-size: 140%;
                text-transform: none;
                margin-bottom: .5rem;
            }

            .story-heading {
                @include animation-delay(.25s);
                color: $colorMain;
                font-weight: 300;
                font-size: 220%;
                margin-bottom: 2.5rem;
            }

            .story-details {
                @include animation-delay(.5s);
                font-size: 120%;
                line-height: 200%;
            }
        }

    }
}
