.about-me {
    background-color: $colorBlack;
    color: white;
    padding-bottom: 2rem;
    h1 {
        margin-bottom: 2rem;
    }

    .story-container {
        border:  1px dashed rgba(244, 156, 18,0.35);
        box-shadow: 0 2px 5px rgba(0,0,0,0.25);
        overflow: hidden;

        .photo-container {
            @include background(linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.25)),
                                url("../../img/photographerbg.jpg"));
            background-position: center;
            background-size: cover;
            padding-top: 1rem;
            height: 40rem;
            margin-bottom: -10rem;
            position: relative;

            //photographer photo
            img {
                @include animation-duration(2s);
                max-width: 80%;
                opacity: 0;
                height: auto;
                position: absolute;
                bottom: 6.25rem;
            }
        }

        .cv-container {
            background-color: $colorBlackLight;
            border-left:  1px dashed rgba(244, 156, 18,0.35);
            padding: 1rem;

            @include mq-tablet {
                padding: 1rem 1rem 1rem 3rem;
            }
        }

        //Story component in CV container resembling a unique story in the timeline
        .story {
            position: relative;

            .story-pointer {
                background-color: white;
                border: 1px solid #e0dede;
                border-radius: 50%;
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                @include absolute-center(50%, -6.7%);
                transition: all .5s ease-out;
            }

            .time-heading, .story-heading {
                margin: 0;
                padding: 0.5rem 0;
            }

            .time-heading {
                font-size: 110%;
                text-transform: none;
            }

            .story-heading {
                color: $colorMain;
                font-size: 90%;
            }

            .story-details {
                font-size: 90%;
            }
        }

        //pointer transition
        .story:hover {
            .story-pointer {
                background-color: $colorMain;
            }
        }

        //animations
        #story-now, #story-senior, #story-junior, #story-education {
            opacity: 0;
        }

    }
}
