.portfolio {
    color: white;

    .horizontal-nav {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }

        .portfolio-btn {
            margin: 0.75rem;
            position: relative;

            @include mq-tablet {
                margin: 0.25rem 2rem 0.25rem 2rem;
            }
        }
    }

    //Filterizr Controls
    .controls-row {
        margin: 2rem 0 1rem 0;
    }

    //Filterizr
    .filtr-container {
        overflow: hidden;
        margin: 0 auto;
        //max-width: 1400px;
    }

    .filtr-item {
        overflow: hidden;
        width: 25.1%;

        .filtr-img {
            width: 100%;
            min-height: auto;
            @include filter(brightness(50%));
            @include transform(scale(1.25));
            transition: all .5s ease-out;
            position: relative;

            &:hover {
                @include filter(brightness(100%));
                @include transform(scale(1));
            }
        }
    }

    .filteredOut {
        z-index: -1;
    }
}
