.no-scroll {
    overflow: hidden;
}

//Colors & Text
.main-color {
    color: $colorMain;
}

.text-glowing {
    text-shadow: 0 0 5px $colorMain;
}

//Underlined heading
.underlined {
    text-align: center;
    position: relative;
}
.underlined:after {
    content: '';
    background-color: $colorMain;
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    @include transform(translateX(-50%));
}

//Backgrounds
.lightgrey-section {
    background-color: #f9f9f9;
}
