.no-scroll {
    overflow: hidden;
}

.main-color {
    color: $colorMain;
}

.text-glowing {
    text-shadow: 0 0 5px $colorMain;
}

//Diamond shaped background
.diamond-shaped {
    background-color: $colorMain;
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0.75rem 0;
    position: relative;
    width: 9rem;
}

.diamond-shaped:after {
    content: '';
    display: block;
    border-style: solid;
    border-width: 1.45rem 0 1.45rem 1.25rem;
    border-color: transparent transparent transparent $colorMain;
    width: 0;
    height: 0;
    position: absolute;
    right: -1.25rem;
    top: 0;
}

.diamond-shaped:before {
    content: '';
    display: block;
    border-style: solid;
    border-width: 1.45rem 1.25rem 1.45rem 0;
    border-color: transparent $colorMain transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: -1.25rem;
    top: 0;
}
